@import "tailwindcss";

body{
    font-family: "Poppins", sans-serif ;
}
.Logo{
    font-family: "Mr De Haviland", cursive;
}

.Hero{
    opacity: 0;
    transform: translateY(120px);
    animation: fadeUp 0.80s ease-out forwards;

}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(120px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.Header{
   opacity: 0;
    transform: translateY(-60px);
    animation: fadedown 0.80s ease-out forwards;  
}
@keyframes fadedown {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}